.container{
  width: 119rem;
  margin: 0 auto;
}

.main_section{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.hero_img {
  width: 56rem;
  height: 60.19rem;
  overflow: hidden;
  max-width: 100%;
  img{
    transform: translate(-30rem);
  }
}

.header_top{
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin:2.3rem 8.87rem 0 0;
  gap: 1rem;

}

.header_buttons{
  display: flex;
  justify-content: end;
  gap: 1.87rem;
}

.header_nav{
  display: flex;
  justify-content: end;
  gap: 2.18rem ;
  color: $color-text-darker;
}

.header_single_button{
  text-decoration: none;
  background: none;
  color: $color-text-light;
  font-size: 0.81rem;
  font-family: $font-base;
  padding: 9px 10px;
  border: 0.75px white solid;
  &:hover{
    border: 0.75px $color-main solid;
  }
}

.header_nav_button{
  padding: 9px 20px;
  box-sizing: border-box;
  border: 0.75px white solid;
  &:hover {
    border: 0.75px $color-text-darker solid;
    cursor: pointer;
  }
}

.homepage_center{
  display: flex;
  margin: 13.12rem 19rem 0 0;
  width: 44rem;
  align-self: end;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_decoration{
    width: 15.81rem;
    height: 2.06rem;
    margin-top: 1.56rem;
  }
  &_buttons{
    display: flex;
  }
  &_title{
    font-size: 2.37rem;
    letter-spacing: -0.76x;
    line-height: 3.44rem;
  }
}

.homepage_center_buttons{

  &_one, &_two{
    border: solid 0.75px $color-text-darker;
    font-size: 2.25rem;
    font-weight: lighter;
    text-align: center;
    line-height: 2.81rem;
    margin-top: 4.06rem;
    text-decoration: none;
    color: $color-text-darker;
    &:hover{
      cursor: pointer;
    }
  }
  &_one{
    padding: 0.81rem 5.81rem;
    margin-right: 2.75rem;
  }
  &_two{
    padding: 0.81rem 3.19rem;
  }
}