@import "settings/reset";
@import "settings/fonts";
@import "settings/colors";
@import "main-section";
@import "statistics";
@import "explanation";
@import "about";
@import "contact";
@import "login";
@import "register";
@import "logout";
@import "_organizations.scss";
@import "form-page";
@import "inquiry";
body {
  font-family: $font-base;
  overflow-x: hidden;
}

.home_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
