@import "settings/reset";
@import "settings/fonts";
@import "settings/colors.scss";
@import "main-section";
@import "statistics";
@import "explanation";
@import "about";
@import "contact";

body {
  font-family: $font-base;
  overflow-x: hidden;
}

.home_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
